<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Новая заявка на участие</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title is-1 has-text-weight-bold mb-3">
            {{ .CompetitionName }}
        </h1>
        <h2 class="title is-2 pb-4">
            Новая заявка на участие
        </h2>
        <h3 class="title is-3">
            Информация об участнике
        </h3>
        {{if .Participant.ParaSwimmer }}
        <span class="tag is-info is-medium">Парапловец</span>
        {{end}}
        {{if .Participant.NeedSkis }}
        <span class="tag is-warning is-medium">Нужны лыжи</span>
        {{end}}
        <table class="table is-bordered is-striped subtitle mt-2">
            <tbody>
                <tr>
                    <td class="has-text-weight-bold">Фамилия:</td>
                    <td>{{ .Participant.LastName }}</td>
                </tr>
                <tr>
                    <td class="has-text-weight-bold">Имя:</td>
                    <td>{{ .Participant.FirstName }}</td>
                </tr>
                {{if .Participant.MiddleName }}
                <tr>
                    <td class="has-text-weight-bold">Отчество:</td>
                    <td>{{ .Participant.MiddleName }}</td>
                </tr>
                {{end}}
                <tr>
                    <td class="has-text-weight-bold">Клуб:</td>
                    <td>{{ .Participant.ClubName }}</td>
                </tr>
                <tr>
                    <td class="has-text-weight-bold">Город:</td>
                    <td>{{ .Participant.Location }}</td>
                </tr>
                <tr>
                    <td class="has-text-weight-bold">День рождения:</td>
                    <td>{{ .Participant.Birthdate }}</td>
                </tr>
                <tr>
                    <td class="has-text-weight-bold">Возраст:</td>
                    <td>{{ .Participant.Age }}</td>
                </tr>
                <tr>
                    <td class="has-text-weight-bold">Пол:</td>
                    <td>{{ .Participant.Gender }}</td>
                </tr>
                <tr>
                    <td class="has-text-weight-bold">E-mail:</td>
                    <td>{{ .Participant.Email }}</td>
                </tr>
                {{if .Participant.Phone }}
                <tr>
                    <td class="has-text-weight-bold">Телефон:</td>
                    <td>{{ .Participant.Phone }}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
        <h3 class="title is-3 mt-6">
            Выбранные дистанции
        </h3>
        {{range $race := .Races}}
        <h4 class="title is-4 mt-2">
            {{ $race.Name }}
        </h4>
        {{if $race.ParaSwimmers }}
        <span class="tag is-info">Могут участвовать парапловцы</span>
        {{end}}
        <table class="table is-bordered is-striped subtitle mt-1">
            <tbody>
            <tr>
                <td class="has-text-weight-bold">Длина (метров):</td>
                <td>{{ $race.Distance }}</td>
            </tr>
            <tr>
                <td class="has-text-weight-bold">Стиль:</td>
                <td>{{ $race.SwimmingStyle }}</td>
            </tr>
            <tr>
                <td class="has-text-weight-bold">Пол:</td>
                <td>{{ $race.Gender }}</td>
            </tr>
            <tr>
                <td class="has-text-weight-bold">Возрастная группа:</td>
                <td>{{ $race.AgeGroup }}</td>
            </tr>
            <tr>
                <td class="has-text-weight-bold">Дата:</td>
                <td>{{ $race.Date }}</td>
            </tr>
            </tbody>
        </table>
        {{end}}
        {{range $relay := .Relays}}
        <h4 class="title is-4 mt-2">
            {{ $relay.Name }}
        </h4>
        <table class="table is-bordered is-striped subtitle mt-1">
            <tbody>
                <tr>
                    <td class="has-text-weight-bold">Длина (метров):</td>
                    <td>{{ $relay.Distance }}</td>
                </tr>
                <tr>
                    <td class="has-text-weight-bold">Стиль:</td>
                    <td>{{ $relay.SwimmingStyle }}</td>
                </tr>
                <tr>
                    <td class="has-text-weight-bold">Участников:</td>
                    <td>{{ $relay.Count }}</td>
                </tr>
                <tr>
                    <td class="has-text-weight-bold">Дата:</td>
                    <td>{{ $relay.Date }}</td>
                </tr>
            </tbody>
        </table>
        {{end}}
        {{range $cryathlon := .Cryathlons}}
        <h4 class="title is-4 mt-2">
            {{ $cryathlon.Name }}
        </h4>
        <table class="table is-bordered is-striped subtitle mt-1">
            <tbody>
                <tr>
                    <td class="has-text-weight-bold">Бег (метров):</td>
                    <td>{{ $cryathlon.RunDistance }}</td>
                </tr>
                <tr>
                    <td class="has-text-weight-bold">Лыжи (метров):</td>
                    <td>{{ $cryathlon.SkiDistance }}</td>
                </tr>
                <tr>
                    <td class="has-text-weight-bold">Плавание (метров):</td>
                    <td>{{ $cryathlon.WaterDistance }}</td>
                </tr>
                <tr>
                    <td class="has-text-weight-bold">Босиком (метров):</td>
                    <td>{{ $cryathlon.BarefootDistance }}</td>
                </tr>
                <tr>
                    <td class="has-text-weight-bold">Пол:</td>
                    <td>{{ $cryathlon.Gender }}</td>
                </tr>
                <tr>
                    <td class="has-text-weight-bold">Дата:</td>
                    <td>{{ $cryathlon.Date }}</td>
                </tr>
            </tbody>
        </table>
        {{end}}
        {{range $aquathlon := .Aquathlons}}
            <h4 class="title is-4 mt-2">
                {{ $aquathlon.Name }}
            </h4>
            <table class="table is-bordered is-striped subtitle mt-1">
                <tbody>
                    <tr>
                        <td class="has-text-weight-bold">Бег (метров):</td>
                        <td>{{ $aquathlon.RunDistance }}</td>
                    </tr>
                    <tr>
                        <td class="has-text-weight-bold">Плавание (метров):</td>
                        <td>{{ $aquathlon.WaterDistance }}</td>
                    </tr>
                    <tr>
                        <td class="has-text-weight-bold">Пол:</td>
                        <td>{{ $aquathlon.Gender }}</td>
                    </tr>
                    <tr>
                        <td class="has-text-weight-bold">Дата:</td>
                        <td>{{ $aquathlon.Date }}</td>
                    </tr>
                </tbody>
            </table>
        {{end}}
        {{if .Additional}}
        <h3 class="title is-3 mt-6">
            Дополнительная информация
        </h3>
        <div class="content">
            <blockquote>{{ .Additional }}</blockquote>
        </div>
        {{end}}
    </div>
</section>
</body>
</html>